<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
         label {
            margin-top: 10px
        }
        input, label {
           display: block;
        }
        input[type='submit'] {
            margin-top: 20px
        }
    </style>
    <title>Student Information</title>
</head>
<body>
<form action="{{ url_for('addrec') }}" method="POST">
    <h3>Student Information</h3>

    <label for="name">Name</label>
    <input type="text" name="nm" id="name">

    <label for="address">Address</label>
    <textarea name="Address" id="address" cols="30" rows="10"></textarea>

    <label for="city">City</label>
    <input type="text" name="city" id="city">

    <label for="pin">PINCODE</label>
    <input type="text" id="pin" name="pin">

    <input type="submit" value="Submit">
</form>
</body>
</html>